{% extends 'base.html' %}

{% block title%}
<title>Details</title>
{% endblock %}

{% block content %}
<h1> {{ trip.destination }} </h1>
<h4> {{ trip.dates }}</h4>
<h4>Hotel:

<!-- hotel -->

  <a class="waves-effect waves-light modal-trigger" href="#modal1">{{ trip.hotel }}</a>
</h4>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{ trip.hotel }}</h4>
      <p>{{ trip.hotel_description }}</p>
  </div>
  <div class="modal-footer">
    <a href="{{ trip.hotel_url }}" class="modal-close waves-effect waves-blue btn blue">Book This Hotel</a>
  </div>
</div>


<h4>Recomended Restaurants:</h4>
<hr>
<!-- restaurant -->

  {% for restaurant in trip.restaurant_set.all %}
    <a class="waves-effect waves-light modal-trigger" href="#{{ restaurant.restaurant_name }}">
        <h4>{{ restaurant.restaurant_name }}</h4>
    </a>


<form action="{% url 'delete_restaurant' restaurant.id %}" method="post" class="inline-form">
  {% csrf_token %}
   
</form>
<br>
<div id="{{ restaurant.restaurant_name }}" class="modal">
  <div class="modal-content">
    <h4>{{ restaurant.restaurant_name }}</h4>
    <p>{{ restaurant.restaurant_des }}</p>
  </div>
  <div class="modal-footer">
    <a href="{{ restaurant.restaurant_url }}" class="modal-close waves-effect waves-green btn blue">Book This Restaurant</a>
  </div>
</div>
<hr>
{% endfor %}
<h4>My favorites:</h4>
<hr>
{% for attraction in trip.attraction_set.all %}
<a class="waves-effect waves-light modal-trigger" href="#{{ attraction.attraction_name }}">
    <h4>{{ attraction.attraction_name }}</h4>
</a>


<form action="{% url 'delete_attraction' attraction.id %}" method="post" class="inline-form">
{% csrf_token %}
</form>
<br>
<div id="{{ attraction.attraction_name }}" class="modal">
<div class="modal-content">
<h4>{{ attraction.attraction_name }}</h4>
<p>{{ attraction.attraction_description }}</p>
</div>
<div class="modal-footer">
<a href="{{ attraction.attraction_url }}" class="modal-close waves-effect waves-green btn blue">Let's Go!</a>
</div>
</div>
{% endfor %}
<!-- photos -->
<h4>My Photos:</h4>
{% for photo in trip.photo_set.all %}
<div class="image-container">
        <img src="{{ photo.url }}" alt="{{ trip.destination }}" class="materialboxed" width="250">
</div>
{% empty %}
      <div class="card-panel center-align">No Photos Yet</div>
{% endfor %}
  
  <script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {});
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems, {});
  });
  </script>
{% endblock %}

