{% extends 'base.html' %}

{% block title%}
<title>Details</title>
{% endblock %}


{% block content %}
<h1> {{ trip.destination }} </h1>
<h4> {{ trip.dates }}</h4>
<h4>Hotel:
  <a class="waves-effect waves-light modal-trigger" href="#modal1">{{ trip.hotel }}</a>
</h4>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{ trip.hotel }}</h4>
    <p>{{ trip.hotel_description }}</p>
  </div>
  <div class="modal-footer">
    <a href="{{ trip.hotel_url }}" class="modal-close waves-effect waves-blue btn blue">Book This Hotel</a>
  </div>
</div>
<form action="{% url 'add_restaurant' trip.id %}" method="post">
  {% csrf_token %}
  {{ restaurant_form }}
  <input type="submit" value="Add Restaurant" class="btn green">
</form>

<h4>Favorite Restaurants:</h4>
{% for restaurant in trip.restaurant_set.all %}
    <a class="waves-effect waves-light modal-trigger" href="#modal1">
        <h4>{{ restaurant.restaurant_name }}</h4>
    </a>


<form action="{% url 'delete_restaurant' restaurant.id %}" method="post" class="inline-form">
  {% csrf_token %}
    <a href="{% url 'delete_restaurant' restaurant.id %}">Remove</a>
</form>
<br>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{ restaurant.restaurant_name }}</h4>
    <p>{{ restaurant.restaurant_des }}</p>
  </div>
  <div class="modal-footer">
    <a href="{{ restaurant.restaurant_url }}" class="modal-close waves-effect waves-green btn-flat">Book This Restaurant</a>
  </div>
</div>
<hr>
{% endfor %}

  <script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});
  });
  </script>
{% endblock %}

{% block li %}
<li>
  <a href="{% url 'trip_update' trip.id %}">Update</a>
</li>
<li>
  <a href="{% url 'trip_delete' trip.id %}">Delete</a>
</li>
{% endblock%}