{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}

<h1>Welcome to Wondering App</h1>
<h5>
    Wandering App is the perfect place to showcase your wanderings and share your experiences with the world.
    Wandering App was created with the modern traveler in mind offering a platform where you can easily upload
     and organize your trips, photos, and travel recommendations. Whether you are a seasoned globetrotter or 
     a first-time explorer, Wandering App is the perfect way to document your journeys and inspire others to 
     explore new destinations.
</h5>


{% for trip in trips %}
<div class="row">
    <div class="col s10 m10">
      <div class="card">
        <div class="card-image">
          <img src="{{ trip.cover }}.png">
          <span class="card-title">{{ trip.destination }}</span>
        </div>
        <div class="card-content">
          <p>{{ trip.dates }}</p>
        </div>
        <div class="card-action grey darken-2">
          <a href="{% url 'all_trips' trip.id%}">See Details</a>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
{% endblock %}




  
