{% extends 'base.html' %}

{% block title %}
<title>My Trips</title>
{% endblock %}

{% block content %}
<h1>My Trips: </h1>

{% for trip in trips %}
<div class="row">
    <div class="col s10 m10">
      <div class="card">
        <div class="card-image">
          <img src="{{ trip.cover }}.png">
          <span class="card-title">{{ trip.destination }}</span>
        </div>
        <div class="card-content">
          <p>{{ trip.dates }}</p>
        </div>
        <div class="card-action">
          <a href="/trips/{{ trip.id }}">See Details</a>
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% endblock %}