body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
    flex-grow: 1;
}
.restaurant {
  width: 400px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: inline;
}