body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/main_app/static/images/globe.jpg');
  opacity: 30;
}
main {
    flex-grow: 1;
}
.restaurant {
  width: 400px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: inline;
}
#logo{
  margin: 10px;
}